html{scroll-behavior: smooth;}

h1, .anton {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.hero {
    min-height: 100vh;

    background-image:
        linear-gradient(
            rgba(5, 8, 35, 0.72),
            rgba(5, 8, 35, 0.92)
        ),
        url("../assets/hero-bg.jpg");

    background-size: cover;
    background-position: center center;

    position: relative;
}

.hero-content {
    position: absolute;
    left: 5%;
    bottom: 10%;
    max-width: 850px;
    font-size: 8em;
    line-height: .8em;
}

.animate-reveal {
    animation: .8s cubic-bezier(.16,1,.3,1) both reveal-up;
}